@font-face {
    font-family: iosevka;
    src: url(/fonts/Iosevka-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: iosevka;
    src: url(/fonts/Iosevka-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: iosevka;
    src: url(/fonts/Iosevka-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: iosevka;
    src: url(/fonts/Iosevka-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-BoldItalic.ttf);
    font-style: italic;
    font-weight: 700;
}